.sectionLabel {
  margin-bottom: 12px;
  display: inline-flex;
  align-items: center;
  gap: 0.4rem;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  color: rgb(144, 144, 144);

  .bar {
    width: 35px;
    height: 10px;
    background-color: var(--blue);
  }
}

@media (max-width: 768px) {
  .sectionLabel {
    // margin-bottom: 0px;
  }
}
